/*********** general **********/
a{
    text-decoration: none;
}

li{
    list-style: none;
}
/*********** header **********/

header{
    background-color: rgba(0, 0, 0, 0.712);
    font-size: 20px;
    padding: 1%;
}
#nav-contact div{
    background-color: whitesmoke;
}
#nav-contact .topbar-email{
    float: right;
}

#telephone i{
    color: rgb(0, 155, 245);
}

#telephone small{
    color: white;
}
#nav-contact div{
    background-color: whitesmoke;
}
#nav-contact .topbar-email{
    float: right;
}

.logo{
    width: 50%;
}
.nav-link{
    color: white;
    padding: 2%;
    font-size: 22px;
}

header .nav-link{
    font-weight: bold;
}

.btn{
    font-size: 22px;
    font-weight: bold;
}

.nav-link:hover{
    color: rgb(0, 155, 245);
}

.flexslider{
    margin-top: 5%;
}


.menu{
    display: none;
    position: absolute;
    background-color: whitesmoke;
}
.menu li{
    padding: 1%;
}

#products:hover .menu{
    display: block;
    list-style: none;
    left: 48.5%;
}

#products:hover .menu li a{
    text-decoration: none;
    color: rgb(4, 0, 245);
    font-size: 22px;
}

#products:hover .menu li a:hover{
    color: black;
}

.slides{
    width: 94%;
    margin: auto;
}

/************ main **********/

h1 i{
    padding: 10px;
    text-shadow: none;
    color: rgb(0, 86, 245);
}
h1 span{
    color: rgb(0, 86, 245);
}
.titres{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    font-style: italic;
}

main h3{
    text-shadow: 2px 4px 8px;
    font-style: italic;
}

#histoire p{
    text-indent: 20px;
}
body{
    background-color: whitesmoke;
}
.presentation{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.presentation i{
    font-size: 60px;
    color: rgb(0, 86, 245);
}
.presentation div{
    text-align: center;
    width: 20%;
}

.about, .partenaires{
    margin-top: 100px;
}

#elevator-image{
    width: 90%;
    border: 10px rgb(62, 71, 77) ridge;
}

#carouselExampleCaptions img{
    width: 100%;
}
/************ footer **********/

footer{
	margin-top: 15vh;
	background-color: rgba(0, 0, 0, 0.712);
	color: white;
    font-size: 18px;
}
footer .nav-link{
    font-size: 18px;;
}

footer h2, footer h3{
    text-align: center;
    padding-top: 20px;
}

footer h2 span{
    color: rgb(0, 155, 245);
}
footer div{
	padding: 1%;
}
footer i{
	color: rgb(0, 155, 245);
    margin-left: 10px;
}

#iframe{
   padding: 0px;
}

footer a{
    text-decoration: none;
    color: white;
}

/********** page cabines *********/

#cabine-header .nav-link{
    padding: 8px 12px;
    background-color: rgb(0, 86, 245);
    border: 1px solid black;
    border-radius: 5px;
}
#cabine-header .nav-link:hover{
    background-color: whitesmoke;
}

#cabine-header i{
    padding-right: 5px;
}

#cabines h1{
    text-align: center;
}

#catalog-title p{
   float: right;
}
#cabines h1 span{
    color: rgb(0, 86, 245);
    font-style: italic;
}

#cabines-details{
    width: 90%;
    margin: auto;
}

#catalog-title h3{
    display: inline-block;
    text-shadow: none;
    margin: 40px 0px;
}

#cabines img{
    width: 80%;
    margin: auto;
}

/********** page portes *********/

#portes h1{
    text-align: center;
}

#portes-details{
    width: 90%;
    margin: auto;
}

#portes img{
    width: 90%;
    margin: auto;
}

/********** page about *********/

.row h1{
    text-align: center;
    margin: 3% 0%;
}

.row h2{
    text-align: center;
    color: rgb(0, 86, 245);
}

.row img{
    width: auto;
}

#traction p{
	line-height: 2rem;
}


/********** page devis *********/

#devis{
	margin-top: 5rem;
    text-align: center;
}

#devis .col-lg-3{
    text-align: left;
}

#devis span{
    color: crimson;
}

form{
	width: 80%;
	margin: auto;
	margin-top: 5vh;
	text-align: left;
}

.row{
    margin: 2rem 0;
}
form li{
	margin: 2%;
}

form label{
	font-weight: bold;
}

input{
	padding: 2.5%;
}

fieldset{
	margin: 1.5%;
	border: 1px solid rgb(0, 86, 245);
}

fieldset legend{
    float: none;
    padding: 10px;
    color: rgb(0 86 245);
    max-width: fit-content;
}

.submitt{
	padding: 0.6rem 1.8rem;
	color: white;
    background-color: rgb(0, 86, 245);
}

.validation{
    margin-top: 3rem;
    text-align: center;
}

.error-message strong, label em
{
    color: crimson;
    font-style: normal;
}
