/*********** general **********/


/*********** header **********/

header{
    padding: 10%;
    background: url('../images/has/hasbanner1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
}

.logo{
    width: 50%;
}
.nav-link{
    color: white;
    padding: 2%;
    font-size: 25px;
}

.btn{
    font-size: 22px;
}

.nav-link:hover{
    color: rgb(0, 86, 245);
}

.navbar-brand:hover{
    text-shadow: 3px 1px aqua!important;
    color: black!important;
}

.slides{
    height: 40%;
    width: 90%;
    margin: auto;
}

/************ main **********/

.titres{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

body{
    background-color: whitesmoke;
}
.presentation{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}


.presentation i{
    font-size: 60px;
    color: rgba(0, 17, 255, 0.877);
}
.presentation div{
    text-align: center;
    width: 20%;
}

.about, .partenaires{
    margin-top: 100px;
}

#image-bureau{
    width: 100%;
    border: 10px rgb(8, 43, 240) ridge;
}

#carouselExampleCaptions img{
    width: 100%;
}
/************ footer **********/

footer{
	margin-top: 15vh;
	background-color: hsl(214, 100%, 20%);
	color: white;
    font-size: 18px;
}
footer .nav-link{
    font-size: 18px;;
}

footer h2, footer h3{
    text-align: center;
    padding-top: 20px;
}

footer div{
	padding: 1%;
}
footer i{
	color: aquamarine;
    margin-left: 10px;
}

#iframe{
   padding: 0px;
}

footer a{
    text-decoration: none;
    color: white;
}